{% include "includes/_header.html" %}

     <div class="signin-form">
            <div class="well">
                    <div class="cutomers-tittle">
                            <h1>Forgot Password</h1>
                    </div>
                    {% block mainContent %}
                            {% block message %}
                            	{% if form.errors %}
                                    <div class="alert alert-error">
						<button data-dismiss="alert" class="close" type="button">&times;</button>
							Oops! Something went wrong. Please try again!
					</div>
					{%endif%}
                            {% endblock %}

                            {% if user.is_authenticated %}
                                    <div class="alert alert-error">You don't have permission to do this action</div>
                            {%else%}                                        
                            	<form  action="." id="frmForgot" name="frmForgot" method="post">{% csrf_token %}
                                     <input type="text" name="email" id="email" placeholder="Enter registered email">
                                     <button type="submit" class="add-customer" name="signin">Submit</button>
                                     {% if next == '' %}
                                     <input type="hidden" name="next" value="/" />
                                    {% else %}
                                            <input type="hidden" name="next" value="{{ next }}" />
                                    {% endif %}
                                    	<span>or</span> <a href="/login" title="Login">Login</a>
                                 </form>
                            {%endif%}
                    {% endblock %}
            </div>
    </div>
	<script src="{{ STATIC_URL }}js/placeholder.js"></script>
{% include "includes/_footer.html" %}
<script>
    $(document).ready(function () {
        $('#frmForgot').validate({ // initialize the plugin
            rules: {
        		email: {
                    required: true,
                    email: true
                }
            }
        });
	
    });
</script>
