{% include "includes/_header.html" %}
     <div class="signin-form">
            <div class="well">
                    <div class="cutomers-tittle">
                         <h1>Forgot Password Complete</h1>
                    </div>
                    {% block mainContent %}
                            {% block message %}
                            	{% if form.errors %}
                                   <div class="alert alert-error">
									<button data-dismiss="alert" class="close" type="button">&times;</button>
									Oops! Something went wrong. Please try again!
								</div>
							{%endif%}
                            {% endblock %}

                            {% if user.is_authenticated %}
                                    <div class="alert alert-error">You don't have permission to do this action</div>
                            {%else%}                                        
                            	<label>
                           			We've e-mailed the instructions for reset 
								   your password.
								   You should be receiving it shortly. Please check your inbox or junk folder.
                            	</label>
                            	<a href="/login" title="Login">Login</a>
                            {%endif%}
                    {% endblock %}
            </div>
    </div>
{% include "includes/_footer.html" %}



