{% include "includes/header.html" %}
  
	 <div class="left-container pull-left">
	   	{% if user.is_authenticated %}
		    <div class="login-area">
		    	<p><a href="/logout/" title="Logout">Logout</a> <span>Welcome</span> {{ user.username|title }}</p>
		    </div>
		{% endif %}
	</div>
   		{% block mainContent %} 
			<div class="right-container pull-right">
				<div class="cutomers-tittle form-title">
					{% if messages %}
					    {% for message in messages %}
					    <div class="alert alert-block">
					    	<button type="button" class="close" data-dismiss="alert">&times;</button>
					    	{{ message }}
					    </div>
					    {% endfor %}
					{% endif %}
				</div>
			
				<form  action="." id="frmChngPwd" name="frmChngPwd" method="post">{% csrf_token %}
					<input type="password" name="old_password" id="old_password" placeholder="Enter old password">
					<input class="controls" type="password" name="new_password" id="new_password" placeholder="Enter new password">
					<input class="controls" type="password" name="confirm_password" id="confirm_password" placeholder="Confrim new password">
					<button type="submit" class="add-customer" name="changepassword">Change Password</button>
					{% if next == '' %}
		    			<input type="hidden" name="next" value="/" />
	   				{% else %}
		    			<input type="hidden" name="next" value="{{ next }}" />
	    			{% endif %}
			  	
				 </form>
				
	   {% endblock %}
	</div>
<script src="{{ STATIC_URL }}js/placeholder.js"></script>
{% include "includes/footer.html" %}

<script>
    $(document).ready(function () {
        $('#frmChngPwd').validate({ // initialize the plugin
            rules: {
        		old_password: {
                    required: true,
                },
                new_password: { 
                    required: true,
                    minlength:6
                },
                confirm_password: { 
                    required: true,
                    equalTo: '#new_password'
                },
            }
        });
	
    });
</script>